.pool
  %ul
    %li.name
      = link_to "#{pool.name} Pool", pool
    %li.tournament-name
      = pool.tournament.name
    %li.admins
      Admins:
      = pool.admins.map(&:name).join(", ")
      - if can?(:manage, pool)
        (#{ link_to "Admin", pool_admin_brackets_path(pool) })
    %li.members
      #{pool.users.count} Members
  .invite-code
    Invite Code:
    %span.code= pool.invite_code

