.pool
  = link_to pool do
    %ul
      %li.name #{pool.name} Pool
      %li.tournament-name= pool.tournament.name
      %li.brackets #{pool.brackets.count} Brackets
      - unless pool.started?
        %li.invite-code
          Invite Code:
          %span.code= pool.invite_code

