%h2 Rules and Scoring

%h3.first Pool Settings
%table
  %tr
    %td Entry Amount
    %td $#{@pool.entry_fee / 100}
  %tr
    %td Tiebreaker
    %td Points in final game
  %tr
    %td Seed reward?
    %td Yes
  %tr
    %td Entry Deadline
    %td Thursday, March 20, 2014 at 12:00pm Eastern

%h3 Prizes
%table
  %tr
    %td First Place
    %td 70%
    - if @pool.started?
      %td $#{(@pool.total_collected * 0.7).to_i}
  %tr
    %td Second Place
    %td 20%
    - if @pool.started?
      %td $#{(@pool.total_collected * 0.2).to_i}
  %tr
    %td Third Place
    %td 10%
    - if @pool.started?
      %td $#{(@pool.total_collected * 0.1).to_i}

%h3 Scoring
%table
  %thead
    %tr
      %th Round
      %th Points per Game
  %tbody
    %tr
      %td First
      %td 1 + Seed Number
    %tr
      %td Second
      %td 2 + Seed Number
    %tr
      %td Third
      %td 3 + Seed Number
    %tr
      %td Fourth
      %td 5 + Seed Number
    %tr
      %td Fifth
      %td 8 + Seed Number
    %tr
      %td Sixth
      %td 13 + Seed Number

%div
  For all correct picks you get that round's points
  %em plus
  the seed number of the team. So, if you pick the 10th-seed
  team to win the 3rd-round, that would be 13 points if correct.

%h3 Tie Breaker
%div
  In case of a tie will broken in the following order

%ol
  %li Closest "tiebreaker" to the total score (both teams) added together in the final game
  %li Correct team picked for winner
  %li Correct overall number of picks

%div
  If two brackets are still tied after this, they split the winnings.

%h3 Administrators
%ul
  - @pool.admins.each do |user|
    %li= mail_to user.email, user.name
