- cache(@tournament) do
  - num_rounds = @tournament.num_rounds
  .bracket
    %div{class: "bracket-heading #{num_rounds == 4 ? 'sweet-16' : 'field-64'}"}
      %table.gridtable
        %tr
          - @tournament.round_name_date_pairs.map(&:first).each do |name|
            %th= name
          - @tournament.round_name_date_pairs[0...-1].reverse.map(&:first).each do |name|
            %th= name
        %tr
          - @tournament.round_name_date_pairs.map(&:second).each do |date|
            %td= date
          - @tournament.round_name_date_pairs[0...-1].reverse.map(&:second).each do |date|
            %td= date
    %div{class: "bracket-body #{num_rounds == 4 ? 'sweet-16' : 'field-64'}"}
      - num_rounds.times do |round_num|
        = render partial: "brackets/round", locals: { round_num: round_num + 1 }
      = render partial: "brackets/championship"