<% if brackets.present? %>
<table data-provides="rowlink" class="table table-condensed table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <% if Pool.started? %>
        <th>Score</th>
        <th>Possible</th>
    <% end %>
    <% if Pool.start_eliminating? %>
        <th>Best</th>
    <% end %>
    <th>Final Four</th>
    <th>Final Four</th>
    <th>Second</th>
    <th>Winner</th>
    <th>Tie</th>

    <% unless Pool.started? %>
        <th>Status</th>
    <% end %>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% brackets.each_with_index do |bracket, i| %>
      <tr id="bracket-row-<%= bracket.id %>">
        <td>
          <%= link_to bracket do %>
            <% if Pool.start_eliminating? && bracket.best_possible > 2 %>*<% end %>
            <% if Pool.started? %><%= i + 1 %>. <% end %>
            <% if bracket.name =~ /#{Regexp.escape(bracket.user.name)}/ %>
              <%= bracket.name %>
            <% else %>
              <abbr title="<%= bracket.user.name %>"><%= bracket.name %></abbr>
            <% end %>
          <% end %>
         </td>

        <% if Pool.started? %>
            <td><%= bracket.points %></td>
            <td><%= bracket.possible_points %></td>
        <% end %>
        <% if Pool.start_eliminating? %>
            <td><%= bracket.best_possible > 2 ? '-' : bracket.best_possible + 1 %></td>
        <% end %>

        <% bracket.sorted_four.each do |team| %>
            <td><%= team.name %></td>
        <% end %>
        <% (4 - bracket.sorted_four.size).times do %>
            <td></td>
        <% end %>

        <td><%= bracket.tie_breaker %></td>

        <% unless Pool.started? %>
            <td><%= status_to_label(bracket.status) %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<% end %>
