<% first_team = pick.try(:first_team) || game.first_team %>
<% second_team = pick.try(:second_team) || game.second_team %>
<% bracket = pick.bracket %>

<div id="match<%= game.id %>" class="match m<%= i+1 %>">
  <p <% if game == bracket.tournament.championship %>id="slot127"<% end %> class="slot slot1 <%= "team#{first_team.id}" if first_team.present? %>">
    <% if first_team.present? %>
        <span class="seed"><%= first_team.seed %></span>
        <%= first_team.name %>
    <% end %>
  </p>
  <p <% if game == bracket.tournament.championship %>id="slot128"<% end %>class="slot slot2 <%= "team#{second_team.id}" if second_team.present? %>">
    <% if second_team.present? %>
        <span class="seed"><%= second_team.seed %></span>
        <%= second_team.name %>
    <% end %>
  </p>
</div>
