%h2 My Brackets

%h3 * All brackets in pool will be displayed after tournament start

%table.table-minimal
  %thead
    %tr
      %th Name
      %th Final Four
      %th Final Four
      %th Second
      %th Winner
      %th Tie
      %th Status
  %tbody
    - @brackets.each do |bracket|
      %tr
        %td= link_to bracket.name, edit_bracket_path(bracket)
        - bracket.sorted_four.each do |team|
          %td= team.name
        - (4 - bracket.sorted_four.size).times do
          %td
        %td= bracket.tie_breaker
        %td= status_to_label(bracket.status)

.actions
  - if can? :create, @pool.brackets.build(user_id: current_user.id)
    = link_to "New Bracket Entry", pool_brackets_path, :method => :post, :class => "button"
  - if @unpaid_brackets.present?
    .payment
      = form_tag charges_path, method: :post do
        - @unpaid_brackets.each do |unpaid_bracket|
          = hidden_field_tag "bracket_ids[]", unpaid_bracket.id, id: nil
        %script.stripe-button{"data-amount" => @unpaid_brackets.size * @pool.entry_fee, "data-description" => pluralize(@unpaid_brackets.size, "bracket"), "data-email" => current_user.email, "data-image" => image_path("basketball_icon.png"), "data-key" => Rails.configuration.stripe[:publishable_key], "data-name" => "Pool Madness", "data-allow-remember-me" => "false", :src => "https://checkout.stripe.com/checkout.js"}