= cache cache_key_for_bracket_points(@pool) do
  - content_for :title, "Brackets (#{@brackets.size} total)"

  .brackets
    - @brackets.each_with_index do |bracket, i|
      =link_to bracket do
        .bracket-row{:id => "bracket-row-#{bracket.id}"}
          .bracket-attributes
            .position
              = "*" if @pool.display_best? && bracket.best_possible > 2
              = "#{i+1}."
            .bracket-details
              .name= bracket.name
              .points
                .total= bracket.points
                .possible= bracket.possible_points
              - if @pool.display_best?
                .best-possible= bracket.best_possible > 2 ? '-' : bracket.best_possible + 1
              .final-four-teams
                = cache cache_key_for_bracket_final_four(bracket) do
                  - bracket.sorted_four.each_with_index do |team, i|
                    %div{class: "final-four-team#{i}"}
                      = team.name
