%div{:class => "round round#{round_num}"}
  - if round_num < 5
    - Team::REGIONS.each_with_index do |region, region_num|
      %div{:class => "region region#{region_num + 1}"}
        - if round_num == 1
          %div{:class => "region-label region#{region_num + 1}"}
            = region
        = render partial: 'brackets/game_set', locals: {games: @bracket.tournament.round_for(round_num, region)}
  - else
    .region
      = render partial: 'brackets/game_set', locals: {games: @bracket.tournament.round_for(round_num)}
