<div id="round<%=round_num%>" class="round">
  <h3>
    Round <%= round_num %> (2012 NCAA Men's Basketball Tournament)
  </h3>
  <% if round_num < 5 %>
      <% Team::REGIONS.each_with_index do |region, region_num| %>
          <div class="region region<%= region_num + 1 %>">
            <h4 class="region<%= region_num + 1 %>">
              <%= region %>
            </h4>
            <%= render :partial => 'game_set', :locals => {:games => Game.round_for(round_num, region), :bracket => (bracket ||= nil)} %>
          </div>
      <% end %>
  <% else %>
      <div class="region">
        <%= render :partial => 'game_set', :locals => {:games => Game.round_for(round_num, nil), :bracket => (bracket ||= nil)} %>
      </div>
  <% end %>
</div>

<% if round_num == 6 %>
    <% game = Game.championship %>
    <% pick = bracket.present? ? bracket.picks.where(:game_id => game.id).first : nil %>
    <% team = pick.try(:team) || game.winner %>


    <div id="championship" class="round">
      <div class="box">
        <p class="square square1 <%= team.present? ? "team#{team.id}" : nil %>">



          <% if team.present? %>
    <% if pick.present? %>
        <% if game.winner.present? %>
          <% if game.winner == team %>
                    <strong>
                <% else %>
                    <strike>
                <% end %>
            <% elsif team.eliminated? %>
                <strike>
            <% end %>

    <% else #pick.blank? %>
        <% if game.winner.present? %>
          <% if game.winner == team %>
            <strong>
          <% else %>
            <strike>
          <% end %>
        <% end %>
    <% end %>


    <%= team.name %>


    <% if pick.present? %>
        <% if game.winner.present? %>
            <% if game.winner == team %>
                </strong>
            <% else %>
                </strike>
            <% end %>
        <% elsif team.eliminated? %>
            </strike>
        <% end %>
    <% else #pick.blank? %>
        <% if game.winner.present? %>
            <% if game.winner == team %>
                </strong>
            <% else %>
                </strike>
            <% end %>
        <% end %>
    <% end %>
<% end %>

</p>
<p class="square square2">CHAMPION</p>
    </div>
</div>

<% end %>