<h3 class="pagination-centered" style="color: #c52000"><%= "Editing #{@bracket.user.name}'s Bracket" %></h3>


<%= render @bracket %>

<div class="form-actions">
  <%= link_to "Save", @bracket, :class => 'btn btn-primary' %>
  <%= link_to( t('.destroy', :default => t("helpers.links.destroy")),
               @bracket,
               :method => 'delete',
               :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
               :class => 'btn btn-danger') if can?(:destroy, @bracket) %>

  <div class="pull-right">
    <% if @bracket.paid? %>
        Paid: $10.00
    <% else %>

        <%= render :partial => 'charges/form', :locals => {:bracket_id => @bracket.id, :user_id => @bracket.user.id} %>

    <% end %>
  </div>

<script type="text/javascript">
  var game_transitions = []; //hash of game id => [next game_id, slot (1 or 2)]
  var game_to_pick = []; //game_id => this bracket pick id
  <% Game.all.each do |g| %>
    game_to_pick[<%= g.id %>] = <%= @bracket.picks.find_by_game_id(g.id).id %>;
    <% unless g.next_game.blank? %>
      game_transitions[<%= g.id %>] = [<%= g.next_game.id %>, <%= g.next_slot %>];
    <% end %>
  <% end %>


    $('.slot').click(function () {
        var parent_node = $(this).offsetParent();

        var current_game_id = parseInt(parent_node[0].id.replace('match', ''));

        var team_id = -1;
        var classList = $(this).attr('class').split(/\s+/);
        $.each( classList, function(index, item){
            if (item.substring(0, 4) == 'team') {
                team_id = parseInt(item.replace('team',''));
            }
        });

        //championship
        if(game_transitions[current_game_id] === undefined) {
            $('#slot127').removeClass('final_pick');
            $('#slot128').removeClass('final_pick');
            $('#slot127').removeClass('selected');
            $('#slot128').removeClass('selected');
          $(this).attr('class', classList.join(' ') + ' final_pick selected');
        }

        else {
        var next_game_id = game_transitions[current_game_id][0];
        var next_slot = game_transitions[current_game_id][1];



        var slot_node = $("div#match" + next_game_id + " > .slot" + next_slot);

        slot_node.html($(this).html());
        slot_node.attr('class', 'slot slot' + next_slot + ' team' + team_id);
        }

        $.ajax({
            url: '/picks/' + game_to_pick[current_game_id],
            type: 'POST',
            data: { _method: 'PUT', pick: {team_id: team_id}}

        });
    });
</script>

