%h2 Editing #{@bracket.name} Bracket

= render @bracket

.actions
  .data-form
    = form_for @bracket do |f|
      = f.label :name, "Bracket Name"
      = f.text_field :name

      = f.label :tie_breaker
      = f.text_field :tie_breaker, placeholder: "Final Score of Championship Game Added Together (ex: 147)"

      = f.submit "Done"
      - if @bracket.unpaid?
        = link_to "Delete Bracket", @bracket, class: "button danger", method: :delete, data: { confirm: "Are you sure you want to delete your bracket?"}

