<h3>Brackets</h3>
<div class="span12">
  <% if @brackets.present? %>
  <p><strong>*All brackets in pool will be displayed after tournament start</strong></p>
  <table data-provides="rowlink" class="table table-condensed table-striped table-bordered">
    <thead>
    <tr>
      <th rowspan="3">Name</th>
      <th rowspan="3">Paid?</th>
      <th colspan="4">Final Four</th>
      <th rowspan="3">Tiebreaker</th>
      <th rowspan="3"></th>
    </tr>
    <tr>
      <th colspan="2"></th>
      <th colspan="2">Championship Game</th>
    </tr>
    <tr>
      <th colspan="3"></th>
      <th>Winner</th>
    </tr>
    </thead>
    <tbody>
    <% @brackets.each do |bracket| %>
        <tr class="rowlink <%= "error" unless bracket.paid? %>">
          <td><%= link_to bracket.name, bracket %></td>
          <td><%= bracket.paid? ? "Paid" : "<strong>UNPAID</strong>".html_safe %></td>
          <% bracket.sorted_four.each do |team| %>
              <td><%= team.name %></td>
          <% end %>
          <% (4 - bracket.sorted_four.size).times do %>
              <td></td>
          <% end %>
          <td><%= bracket.tie_breaker %></td>
          <td class="nolink">
            <%= link_to("Change Picks", edit_bracket_path(bracket), :class => 'btn btn-mini btn-primary') if can?(:edit, bracket) %>
            <%= link_to("Delete bracket", bracket_path(bracket), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini btn-danger') if can?(:destroy, bracket) %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
    <% end %>
  <div class="pagination-centered">
    <%= link_to "New Bracket Entry", brackets_path, :method => :post, :class => 'btn btn-primary' %>
  </div>

</div>
