%h2
  Brackets (#{@brackets.size} total)
- unless @pool.started?
  %h3 * All brackets in pool will be displayed after tournament start

%table.table-minimal
  %thead
    %tr
      %th Name
      - if @pool.started?
        %th Score
        %th Possible
      - if @pool.start_eliminating?
        %th Best
      %th Final Four
      %th Final Four
      %th Second
      %th Winner
      %th Tie
      - unless @pool.started?
        %th Status
      %th
  %tbody
    - @brackets.each_with_index do |bracket, i|
      %tr{:id => "bracket-row-#{bracket.id}"}
        %td
          = link_to bracket do
            = "*" if @pool.start_eliminating? && bracket.best_possible > 2
            = "#{i+1}." if @pool.started?
            = bracket.name
        - if @pool.started?
          %td= bracket.points
          %td= bracket.possible_points
        - if @pool.start_eliminating?
          %td= bracket.best_possible > 2 ? '-' : bracket.best_possible + 1
        - bracket.sorted_four.each do |team|
          %td= team.name
        - (4 - bracket.sorted_four.size).times do
          %td
        %td= bracket.tie_breaker
        - unless bracket.pool.started?
          %td= status_to_label(bracket.status)

.actions
  - if can? :create, @pool.brackets.build(user_id: current_user.id)
    = link_to "New Bracket Entry", pool_brackets_path, :method => :post, :class => "button"