<h3 class="pagination-centered"><%= "#{@bracket.name} Bracket" %></h3>

<% if @bracket.incomplete? %>
    <div class="alert alert-block fade in">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4 class="alert-heading">Bracket Unfinished</h4>
      <p>This bracket is missing some picks and/or a tiebreaker score.</p>
      <p><%= link_to 'Edit', edit_bracket_path(@bracket), :class => "btn btn-primary" %></p>
    </div>
<% elsif @bracket.unpaid? %>
    <div class="alert alert-block fade in">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4 class="alert-heading">Unpaid Bracket</h4>
      <p>This bracket entry is marked unpaid. <strong>All unpaid brackets will be removed from the pool this Thursday at Noon</strong>.</p>
      <p>Note: you can still edit your bracket right up until tip off this Thursday, even after you pay the entry fee.</p>
      <p>
        <%= link_to 'Pay with Bitcoin', 'https://coinbase.com/checkouts/625548a208757aa2f1b709600e12e5ef', :class => "bitcoin-pay btn btn-primary" %>
        <%= link_to 'Pay with Credit Card', bracket_stripes_path(@bracket), :class => 'btn btn-primary stripe-pay' %>
      </p>
    </div>
<% end %>


<%= render @bracket %>

<div class="form-actions">
  <%= link_to('Edit Picks', edit_bracket_path(@bracket), :class => 'btn btn-primary') if !Pool.started? && can?(:edit, @bracket) %>
  <%= link_to('Delete Bracket', @bracket, :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger') if !Pool.started? && can?(:destroy, @bracket) %>

  <div class="pull-right">
    <% if @bracket.paid? %>
        Paid: $10.00
    <% else %>
        <%= link_to 'Pay with Bitcoin', 'https://coinbase.com/checkouts/625548a208757aa2f1b709600e12e5ef', :class => "bitcoin-pay btn btn-primary" %>
        <%= link_to 'Pay with Credit Card', bracket_stripes_path(@bracket), :class => 'btn btn-primary stripe-pay' %>
    <% end %>
  </div>

  <div class="pagination-centered">
    <%= link_to printable_bracket_path(@bracket), :target => '_new' do %>
        <i class="icon-print"></i> Printable
    <% end %>
  </div>
</div>

<% if !@bracket.paid? && !@bracket.pending? %>


  <div class="coinbase-button" data-code="625548a208757aa2f1b709600e12e5ef" data-button-style="none" data-custom="<%= @bracket.id %>" ></div>
  <%= form_tag bracket_stripes_path(@bracket), :id => 'stripe-form' %>

  <script type="text/javascript">
    $('.bitcoin-pay').click(function() {
        $(document).trigger('coinbase_show_modal', '625548a208757aa2f1b709600e12e5ef');
        return false;
    });

    $(document).on('coinbase_payment_complete', function(event, code){
        $.ajax({
            url: '/brackets/<%= @bracket.id %>',
            type: 'POST',
            data: {_method: 'PUT', bracket: {pending_payment: true}},
            success: function() { location.reload(); }
        });
    });

        $('.stripe-pay').click(function(){
            var token = function(res){
                var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                $('#stripe-form').append($input).submit();
            };

            StripeCheckout.open({
                key: '<%= Rails.configuration.stripe[:publishable_key] %>',
                name: 'Pool Madness',
                description: 'One Bracket Entry + CC Fee ($10.00 + $0.61)',
                amount: '1061',
                token:   token
            });

            return false;
        });
    </script>
<% end %>
