<h3 class="pagination-centered"><%= "#{@bracket.name} Bracket" %></h3>

<%= render @bracket %>

<div class="form-actions">
  <%= link_to('Edit Picks', edit_bracket_path(@bracket), :class => 'btn btn-primary') if can?(:edit, @bracket) %>
  <%= link_to('Delete Bracket', @bracket, :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger') if can?(:destroy, @bracket) %>

  <div class="pull-right">
    <% if @bracket.paid? %>
        Paid: $10.00
    <% else %>
        <a class="bitcoin-pay btn btn-primary" href="https://coinbase.com/checkouts/625548a208757aa2f1b709600e12e5ef">Pay with Bitcoin</a>
    <% end %>
  </div>
</div>

<% if @bracket.unpaid? %>
  <% content_for :head do %>
    <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
  <% end %>

    <!-- Modal -->
<div id="payModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="payModalLabel">Unpaid Bracket Entry</h3>
  </div>
  <div class="modal-body">
    <p>This bracket entry is marked unpaid. <strong>All unpaid brackets will be removed from the pool Thursday at Noon</strong>.</p>
    <p>Note: you can still edit your bracket right up until tip off Thursday, even after you pay the entry fee.</p>
  </div>
  <div class="modal-footer">
    <div class="coinbase-button" data-code="625548a208757aa2f1b709600e12e5ef" data-button-style="none" data-custom="<%= @bracket.id %>" ></div>
    <%= link_to "Other Methods", payments_path, :class => 'btn' %>
    <a data-dismiss="modal" class="bitcoin-pay btn btn-primary" href="https://coinbase.com/checkouts/625548a208757aa2f1b709600e12e5ef">Pay with Bitcoin</a>
  </div>
</div>

<script>
    $(document).ready(function() {
        $("#payModal").modal("show");
    });

    $('.bitcoin-pay').click(function() {
        $("#payModal").modal("hide");
        $(document).trigger('coinbase_show_modal', '625548a208757aa2f1b709600e12e5ef');
        return false;
    });

    $(document).on('coinbase_payment_complete', function(event, code){
        $.ajax({
            url: '/brackets/<%= @bracket.id %>',
            type: 'POST',
            data: {_method: 'PUT', bracket: {pending_payment: true}},
            success: function() { location.reload(); }
        });
    });
</script>
<% end %>