- content_for(:title, "Change Password")

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .form-inputs
    = f.password_field :password, required: true, autofill: false, placeholder: "New Password"
    = f.password_field :password_confirmation, required: true, autofill: false, placeholder: "New Password Confirmation"
    = f.password_field :current_password, required: true, placeholder: "Current Password"
  .form-actions
    = f.submit "Change Password"
.other-actions
  = link_to "Cancel", profile_path, class: [:button, :minor]