%h2 Change Password

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .form-inputs
    = f.password_field :password, required: true, autofill: false, placeholder: "New Password", pattern: (".{#{@minimum_password_length},}" if @minimum_password_length)
    = f.password_field :password_confirmation, required: true, autofill: false, placeholder: "New Password Confirmation", pattern: (".{#{@minimum_password_length},}" if @minimum_password_length)
    = f.password_field :current_password, required: true, placeholder: "Current Password", required: true
  .form-actions
    = f.submit "Change Password"
