%h2 Sign Up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  -#= f.error_notification
  .form-inputs
    = f.text_field :name, required: true, placeholder: "Full Name"
    = f.email_field :email, required: true, placeholder: "Email"
    = f.password_field :password, required: true, placeholder: "Password", pattern: (".{#{@minimum_password_length},}" if @minimum_password_length)
    = f.password_field :password_confirmation, required: true, placeholder: "Password Confirmation", pattern: (".{#{@minimum_password_length},}" if @minimum_password_length)
  .form-actions
    = f.submit "Sign Up"
= render "devise/shared/links"
