%p
  Hello #{@user.name},
%p
  March Madness is all set and ready to have your bracket filled out! Your email address and password were transferred
  over from the Big Ten Tournament pool, it's just a new URL. If you forgot your password, don't worry. Just click "Forgot
  Password" and we'll send you a new one.
%p
  %b> Site URL
  \: #{link_to brackets_url, brackets_url}
  %br/
  = succeed ":" do
    %b Username
  = @user.email
  %br/
  = succeed ":" do
    %b Password
%p You can get to your brackets anytime by returning to the site, clicking login, and filling out your credentials.
%p Some useful links:
%ul
  %li= link_to 'Rules and Scoring', rules_url
  %li= link_to 'Payment Types', payments_url
  %li= link_to 'Forgotten Password', new_user_password_url
%p
  You can continue to update your brackets until tip off on Thursday, even after you pay the entry fee. After Thursday,
  they will be locked in.
%p
  If you plan on paying cash in person,
  %b please let an administrator know
  so they can mark you as paid. Any brackets
  unpaid at tip off will be removed from the pool.
%p
  Before the tournament starts, you can only see the brackets you've personally filled out. After tip off, all brackets
  will be available for viewing. Simply go back to the site (#{root_url}) and login to see them all.
%p
  Good Luck,
  %br/
  John, Jason and Chris Haruska
