<p>Hello <%= @user.name %>,</p>

<p>
    <%= ENV['TOURNEY_NAME'] %> starts tomorrow! Last chance to get in on the pool before it begins. We have <%= Bracket.count %> entries so
  far and are projecting <%= (Bracket.count * 1.10).round %> by tip off tomorrow. Entries are $10 and are payable by credit card or cash in person.
</p>

<p>
  <%= link_to 'Fill out your bracket now', accept_invitation_url(@user, :invitation_token => @user.invitation_token) %>
</p>

<p>Good Luck!</p>

