%h2 Edit Tournament
= form_for(@tournament) do |f|
  = f.label :name
  = f.text_field :name
  - @tournament.teams.sort_by {|t| [t.region, t.seed]}.each do |team|
    = f.fields_for :teams, team do |team_fields|
      = team_fields.label :name, "#{team.region} seed #{team.seed}"
      = team_fields.text_field :name
      = team_fields.label :score_team_id, "ScoreTeamID"
      = team_fields.text_field :score_team_id
  = f.submit