<h1>Update Score</h1>

<%= form_for @game do |f| %>
    <dl>
      <dt><%= @game.first_team.try(:name) || 'Unknown' %></dt>
      <dd><%= f.text_field :score_one %></dd>
      <dt><%= @game.second_team.try(:name) || 'Unknown' %></dt>
      <dd><%= f.text_field :score_two %></dd>
    </dl>
    <%= f.submit %>
<% end %>