<h1>Game Details</h1>

<h2>Score</h2>

<dl>
  <dt><%= @game.first_team.try(:name) || 'Unknown' %></dt>
  <dd><%= @game.score_one.to_i %></dd>
  <dt><%= @game.second_team.try(:name) || 'Unknown' %></dt>
  <dd><%= @game.score_two.to_i %></dd>
</dl>

<p><%= link_to('Edit', edit_game_path) if can?(:update, @game) %></p>