%h1 #{@pool.name} Pool Admin

%h2 Payment Info
%dl
  %dt Credit Card
  %dd= (@pool.brackets.paid.where(payment_collector_id: nil).count * @pool.entry_fee * 0.94 / 100).to_i
  - @pool.admins.each do |pool_admin|
    %dt= pool_admin.name
    %dd= pool_admin.brackets_to_pay.where(pool_id: @pool.id).size * @pool.entry_fee / 100
%dl.total-line
  %dt Total
  %dd= @pool.total_collected

%h2 Brackets (#{@brackets.size})
%table.tables
  %thead
    %th Owner Name
    %th Bracket Name
    %th Status
    %th Actions
  %tbody
  - @brackets.each do |bracket|
    %tr{id: "bracket-#{bracket.id}"}
      %td= bracket.user.name
      %td= link_to bracket.name, bracket
      %td.status-cell= status_to_label(bracket.status)
      %td
        - unless bracket.paid?
          = link_to("Mark Paid", mark_paid_admin_bracket_path(bracket), method: :patch, class: "button")
          = link_to("Delete", bracket_path(bracket), method: :delete, class: "button danger", data: {confirm: "Are you sure you want to delete this bracket?"})

