%h3 Payments
.span12
  - if @stripes.present?
    %h4 Credit Card
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th Date
          %th Description
          %th Card Type
          %th Last 4 CC
          %th Exp
          %th Amount
      %tbody
        - @stripes.each do |charge|
          - bracket = Bracket.find_by(stripe_charge_id: charge.id)
          %tr
            %td= Time.at(charge.created).to_s(:usa)
            %td
              Pool Entry: #{bracket.present? ? link_to(bracket.name, bracket) : 'Unknown'}
            %td= charge.card.type
            %td
              \...#{charge.card.last4}
            %td
              = charge.card.exp_month
              \/#{charge.card.exp_year}
            %td= number_to_currency(charge.amount / 100.0)
  - if !@stripes.present?
    %p
      No payments recorded. #{link_to "Pay for your bracket entries", brackets_path}.
