%header.navigation{:role => "banner"}
  .navigation-wrapper
    = link_to image_tag("basketball_icon.png"), root_path, class: :logo
    - if user_signed_in?
      %nav{:role => "navigation"}
        %ul.navigation-menu.show
          - if @pool.present?
            %li.nav-link= link_to "Brackets", pool_brackets_path(@pool)
            -#%li.nav-link
            -#  = link_to "Game Results", tournament_path(@pool.tournament)
            %li.nav-link
              = link_to "Rules and Scoring", rules_pool_path(@pool)
            %li.nav-link
              = link_to "Types of Payment", payments_pool_path(@pool)
          - else
            %li.nav-link= link_to "Pool Madness", root_path
      .navigation-tools
        %ul.navigation-menu
          %li.nav-link.more
            = link_to current_user.email, "javascript:void(0)"
            %ul.submenu
              -#%li= link_to 'Billing/Payments', user_stripes_path(current_user)
              %li= link_to 'Edit account', edit_user_registration_path
              %li= link_to 'Logout', destroy_user_session_path, method: 'delete'
    - else
      %nav{:role => "navigation"}
        %ul.navigation-menu.show
          %li.nav-link= link_to "Pool Madness", root_path
      .navigation-tools
        %ul.navigation-menu
          %li.nav-link= link_to "Login", new_user_session_path
        = link_to "Sign Up", new_user_registration_path, class: "sign-up"

-#
-#<header class="navigation" role="banner">
-#  <div class="navigation-wrapper">
-#    <a href="javascript:void(0)" class="logo">
-#      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
-#    </a>
-#    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
-#    <nav role="navigation">
-#      <ul id="js-navigation-menu" class="navigation-menu show">
-#        <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
-#        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
-#        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
-#        <li class="nav-link more"><a href="javascript:void(0)">More</a>
-#          <ul class="submenu">
-#            <li><a href="javascript:void(0)">Submenu Item</a></li>
-#            <li><a href="javascript:void(0)">Another Item</a></li>
-#            <li class="more"><a href="javascript:void(0)">Item with submenu</a>
-#              <ul class="submenu">
-#                <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
-#                <li><a href="javascript:void(0)">Another Item</a></li>
-#              </ul>
-#            </li>
-#            <li class="more"><a href="javascript:void(0)">Another submenu</a>
-#              <ul class="submenu">
-#                <li><a href="javascript:void(0)">Sub-submenu</a></li>
-#                <li><a href="javascript:void(0)">An Item</a></li>
-#              </ul>
-#            </li>
-#          </ul>
-#        </li>
-#      </ul>
-#    </nav>
-#    <div class="navigation-tools">
-#      <div class="search-bar">
-#        <form role="search">
-#          <input type="search" placeholder="Enter Search" />
-#          <button type="submit">
-#            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
-#          </button>
-#        </form>
-#      </div>
-#      <a href="javascript:void(0)" class="sign-up">Sign Up</a>
-#    </div>
-#  </div>
-#</header>
