<%= link_to "Pool Madness", root_path, :class => 'brand' %>

<% if user_signed_in? %>
    <ul class="nav">
      <li><%= link_to "Brackets", brackets_path %></li>
      <% if Pool.started? %>
      <%#  <li><%= link_to "Final Possibilities", possible_path ></li>%>
        <li><%= link_to "Game Results", games_path %></li>
      <% end %>
      <li><%= link_to "Rules and Scoring", rules_path %></li>
      <% unless Pool.started? %>
        <li><%= link_to "Types of Payment", payments_path %></li>
      <% end %>
      <% if current_user.has_role? :admin %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Users', users_path %></li>
              <li><%= link_to 'Brackets', admin_brackets_path %></li>
            </ul>
          </li>
      <% end %>
    </ul>
    <ul class="nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Billing/Payments', user_stripes_path(current_user) %></li>
          <li><%= link_to 'Edit account', edit_user_registration_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
        </ul>
      </li>
    </ul>
<% else %>
    <ul class="nav pull-right">
        <li><%=  link_to 'Login', new_user_session_path %></li>
    </ul>
<% end %>
