<!DOCTYPE html>
<html>
<head>
  <meta context="IE=edge" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Pool Madness" %>">

  <title><%= content_for?(:title) ? yield(:title) : "Pool Madness" %></title>
  <link rel="shortcut icon" href="/favicon.png"  type="image/png" />

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>

<body class="<%= controller_name %>-controller <%= action_name %>-action <%= yield :body_class %>" id="application-layout">

<%= render "layouts/header" %>

<section id="content">
  <%= render "layouts/messages" %>
  <%= yield %>
</section>

<%= render "layouts/footer" %>

</body>
</html>
