!!!
%html
  %head
    %meta{:context => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => content_for?(:description) ? yield(:description) : "Pool Madness", :name => "description"}/
    %title= content_for?(:title) ? yield(:title) : "Pool Madness"
    = render "layouts/favicon"
    = stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = yield(:head)
  %body
    %main#outer-container
      = yield
    = javascript_include_tag "application"
    = render partial: "layouts/analytics_js" if Rails.env.production?
